:root {
  --color1: #c9c7b0;
  --color2: #5b77b3;
  --color3: #ccac8c;
  --color4: #d23b69;
  --color5: #323681;
  --white: #fff;
}

* {
  font-family: "Roboto", sans-serif;
  text-align: none;
}

/* misc stylings */
ul li {
  list-style-type: none;
}
.container {
  max-width: 1200px;
}
.display-1 {
  letter-spacing: 0.5px;
}
.bg-1 {
  background-color: var(--color5) !important;
}
.bg-2 {
  background-color: var(--color2) !important;
}
.text-1 {
  color: var(--white);
}
.btn {
  border: 2px solid var(--white);
  border-radius: 1.5rem;
  padding: 0.6rem 0;
  width: 160px;
}
.btn-1 {
  background-color: var(--color5);
  color: var(--white);
  padding: 0.55rem 0;
  width: 140px;
}
.btn-1:hover {
  color: var(--color5);
  background: var(--white);
  border-color: var(--color5);
}

.btn-leia:hover{
background-color: var(--color2);
}

.lh-lg {
  line-height: 1.7 !important;
}
.circle-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--color5);
}

/* header */
header {
  height: 100vh;
}
.navbar-brand .fa {
  font-size: 1.3rem;
}
.nav-icons p {
  font-size: 1rem;
  margin-right: 0.6rem;
}
.nav-icons {
  font-size: 1.2rem;
}
.btn-header:hover {
  background-color: #fff;
  color: var(--color3) !important;
}
.phone-img img {
  width: 500px;
}

/* section 6 */
#sec-6 {
  background: linear-gradient(#5b77b3, #323681, #5b77b3),
    url(images/section-6-bg.jpg) center/cover no-repeat;
}
#sec-6 .circle-icon {
  width: 95px;
  height: 95px;
}

/* section 7 */
#sec-7 .card {
  border: none;
}

/* section 8 */
#sec-8 .carousel-item img {
  width: 180px !important;
}

/* section 9 */
.pricing-item {
  border-radius: 0.3rem;
  overflow: hidden;
  max-width: 340px;
}
.pricing-title {
  background-color: var(--color2);
  color: var(--white);
}

.pricing-title-bg2{
  background-color: var(--color5);
  color: var(--white);
}
.pricing-title:hover{
  background: transparent !important;
  color: #fff;
}
.pricing-title-bg2:hover{
  background: transparent !important;
  color: #fff;
}
.pricing-price,
.pricing-item ul li {
  border-bottom: 1px solid var(--color2);
  padding: 0.9rem 0;
}

.pricing-item .btn:hover {
  background: transparent !important;
  color: #fff;
}

.white-bg{
  color: var(--white) ;
}

.lin{
text-decoration: none;
}

/*Nav Mobile*/
